.container_modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_modal {
  background-color: #F08080;
  color: #703B3B;
  padding: 20px; 
  border-radius: 10px;
}



