.header {
  border-bottom: 2px solid #F08080;
}

.tasks_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  min-width: 600px;
}

.tasks__list {
  margin-top: 30px;
  min-width: 600px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.tasks__header {
  border-bottom: 2px solid #F08080;
}

.tasks__body::before,
.tasks__header::after {
  content: '';
  display: table-row;
  height: 10px;  
}

td {
  padding: 10px 10px;
  border-bottom: 1px solid #F08080;
}

.task__description {
  max-width: 600px;
  min-width: 300px;
}

.task__status_i {
  background-color: #73F0DD;
}

.task__status_c {
  background-color: #7FF09F;
}

.create_header {
  text-align: center;
}

.create_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
}

.create_form>input,
.create_form>textarea {
  border-radius: 25px;
  border: none;
  padding: 10px;
  resize: none;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 30px;
}

.page {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #F08080;

}

.page_active {
  background-color: #703B3B;
  color: white;
  font-weight: bold; 
}

.check_complete {
  display: flex;
  margin-top: 10px;
}